.contact-container {
  max-width: 600px;
  padding: 10px 2rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', sans-serif;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.185);

  h2 {
    text-align: center;
    color: #CC26D5;
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;

      label {
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #444;
      }

      input,
      textarea {
        padding: 0.75rem 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #CC26D5;
          outline: none;
        }
      }

      .error {
        margin-top: 0.25rem;
        color: #d9534f;
        font-size: 0.875rem;
      }
    }

    button {
      padding: 0.9rem;
      border: none;
      border-radius: 8px;
      background-color: #CC26D5;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff006a;
      }
    }
  }
}
